<%= render partial: "shared/genre", locals: { tags: @tags } %>

<div class="grid">
  <% @articles.each do |article| %>
    <div class="card">
      <%= image_tag src=article.urlToImage, class:"card__image" %>

      <h1 class="card__title">
        <%= article.title.truncate(40, omission: '〜〜...') %>
      </h1>

      <div class="card__info">
        <%= article.publishedAt.to_s(:datetime)%>
      </div>

      <div class="card__link">
        <%= link_to "記事リンク", article.url %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @articles %>

