<h2>
  <%= @name %>
  さんの投稿一覧
</h2>
<p>
  記事の数は
  <%= @count %>
</p>
<%- @posts.each do |post| %>
  <p>
    タイトル
    <%= post.title %>
  </p>
  <p>
    制作日時 
    <%= post.created_at %>
  </p>
  <%= link_to "記事詳細",  post_path(post) %>
<% end %>
<%= paginate @posts %>

<%= link_to "ホームへ戻る", root_path%>

