
<h2>
  記事のジャンル：
  <%= @tag.name %>
</h2>

<div class="post-marked">
  <div class="post-marked__image">
    <img id="select-image", class="post-marked__image--photo">
  </div>
  <h2 id="marked-title", class="post-marked__title"></h2>
  <p id="marked-content", class="post-marked__content"></p>
</div>




<div class="post-form">
  <%= form_with(model: [@tag, @post], local: true) do |form| %>
    <div class="post-form__image">
      <%= form.file_field :image, placeholder: "image", id: "editor-image", class: "post-form__image--photo" %>
    </div>
    <%= form.text_area  :title, placeholder: "title(25文字までです）", id: "editor-title", class: "post-form__title" %>

    <%= form.text_area :content, placeholder: "text", id: "editor-content", class: "post-form__content" %>

    <%= form.submit "送信", class: "post-form__btn"%>

  <% end %>
</div>

<%= link_to "プロフィールへ", user_path(current_user.id) %>


