<div class="grid"> 
  <%- @posts.each do |post| %>
    <div class="card">
      <% if post.image.present?%>
        <%= image_tag src=post.image_url, class: "card__image" %>
      <% else %>
        <%= image_tag src= "no-image.jpg", class: "card__image"%>
      <% end %>
    
      <h1 class="card__title">

        <%= post.title %>
      </h1>
      <div class="card__info">
        <div class="card__info__name">
          <%= post.user.name %>
        </div>
        <div class="card__info__date">
          <%= post.created_at.to_s(:datetime) %>
        </div>
      </div>
      <div class="card__link">
        <%= link_to "記事詳細", tag_post_path(post.tag_id, post.id) %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @posts %>


