- @posts.each do |post|
  %h2
    ユーザー：
    = post.user.name
  %p
    ジャンル
    = post.tag.name
  %p
    タイトル
    = post.title
  - if post.image.present?
    = image_tag(post.image_url)
  - else
    画像がありません
  %p
    制作日時
    = post.created_at.to_s(:datetime)
  %p
    記事：
    - truncate(post.content, length: 20, omission: "・・・・")
    = link_to "記事詳細", tag_post_path(post.tag_id, post.id)
= paginate @posts
- if user_signed_in?
  .user
    %p.user--label
      ログインユーザー名
    %p.user--name
      = current_user.name
