<h1>
  ジャンル
  <%- @tags.each do |tag| %>
    <%= link_to  tag_path(tag) do %>
      <%= tag.name %>
    <% end %>
  <% end%>
</h1>

<%- @posts.each do |post| %>
  <h2>
    ユーザー：
    <%= post.user.name %>
  </h2>
  
  <p>
    <%= post.created_at.to_s(:datetime) %>
  </p>
  <p class="aaa">
    タイトル
    <%= post.title %>
  </p>
  <p>
    記事：
    <%= truncate(post.content, length: 20, omission: "・・・・") %>
  <%= link_to "記事詳細", "/tags/#{post[:tag_id]}/posts/#{post[:id]}" %>
  </p>
<% end %>

<%= paginate @posts %>



