<%- @posts.each do |post| %>
  <%= link_to  post_path(post) do %>
    <h2>
      <%= post.user.name %>
    </h2>
    <p>
    日時
      <%= post.created_at.to_s(:datetime) %>
    </p>
    <p class="aaa">
      <%= post.title %>
    </p>
    <p>
      <%= truncate(post.content, length: 20, omission: "・・・・") %>
    </p>
  <% end %>
<% end %>
<%= paginate @posts %>

