<%= form_with(model: [@tag, @post], local: true) do |form| %>
  <%= form.text_field :title, placeholder: "title" %>
  <div id="editor">
    <%= form.text_area :content, placeholder: "text" %>
  </div>
  <%= form.submit "SEND" %>
<% end %>

<%= link_to "戻る", :back%>
<%= link_to "プロフィールへ", user_path(current_user.id) %>

<%= link_to "ホームへ", root_path%>

<div id="marked-area"></div>