<div class="article">
  <h2 class="article__user">
    投稿者：
    <%= link_to @post.user.name, src=user_path(@post.user_id), class:"article__user--link"%>
    さん
  </h2>

  <div class="article__image">
    <% if @post.image.present?%>
      <%= image_tag src=@post.image_url, class: "article__image--photo" %>
    <% else %>
      <%= image_tag src= "no-image.jpg", class: "article__image--photo"%>
    <% end %>
  </div>

  <div class="article__info">
    <p class="article__info--category">
      <%= @tag.name%>
    </p>
    <p class="article__info--date">
      <%= @post.created_at.to_s(:datetime) %>
    </p>
  </div>

  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="article__edit">
      <%= link_to "記事編集", src=edit_tag_post_path(@post.tag_id, @post), class: "article__edit--link" %>
    </div>
  <% end %>

  <h2 class="article__title">  
    <%= @post.title %>
  </h2>

  <p class="article__content">
    <%= markdown(@post.content) %>
  </p>
</div>

<div class="comment">
  <%= render partial: "comment", collection: [@comments] %>

  <div class="comment__form">
    <% if user_signed_in? %>
      <%= form_with(model: [@tag, @post, @comment], local: true) do |f| %>
        <%= f.text_field :text, class: "comment__form--input" %>
        <%= f.submit "SEND", class: "comment__form--btn" %>
      <% end %>
    <% end %>
  </div>
  
  <%= paginate @comments %>
</div>




