%h2
  投稿者：
  = link_to @post.user.name, user_path(@post.user_id)
%p
  日時
  = @post.created_at.to_s(:datetime)
%p
  タイトル
  = @post.title
- if @post.image.present?
  = image_tag(@post.image_url)
- else
  画像がありません
%p
  記事
  = @post.content
- if user_signed_in? && current_user.id == @post.user_id
  = link_to "記事編集", edit_tag_post_path(@post.tag_id, @post)
%h3
  コメント
- if user_signed_in?
  コメントフォーム
  = form_with(model: [@tag, @post, @comment], local: true) do |f|
    = f.text_area :text
    = f.submit "SEND"
- @comments.each do |comment|
  %p
    コメント
    = comment.text
  %p
    コメント
    = comment.created_at.to_s(:datetime)
= paginate @comments
= link_to "ホーム", root_path
