<div class="user">
  <h2 class="page-title">プロフィールを編集</h2>

  <%= form_with model: @user, url: user_registration_path, id: 'user', class: 'user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
      <%= f.label :name, class: "field__label" %>
        <i>
            <em>:15文字以内</em>
        </i><br />
      <%= f.text_field :name, autofocus: true, class: "field__input" %>
    </div>

    <div class="field">
      <%= f.label :email, class: "field__label"  %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__input" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "field__label"  %><i>：必須</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "field__input" %>
    </div>

    <div class="field">
      <%= f.label "パスワードの変更", class: "field__label" %> 
        <i>
            <em><%= @minimum_password_length %> 文字以上</em>
        </i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "field__input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field__input"  %>
    </div>


    <div class="field">
      <%= f.submit "プロフィールを更新", class: "field__btn" %>
    </div>
  <% end %>
</div>
